server:
  port: 8003

spring:
  profiles:
    active: @project@
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  activemq:
    broker-url: tcp://139.9.116.29:61616
    user: admin
    password: admin
    packages:
      trust-all: true #信任所有的包
  application:
    name: org-exam-activemq-server

swagger:
  title: 云端考试系统
  description: 沈阳盛世蓝天科技有限公司开发的云端考试系统
  version: 1.0.0
  contact:
    name: 高超
    email: 888888888@qq.com
  exclude-path: /error/**

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:9000/eureka/
#      defaultZone: http://AAA.com:20001/eureka/,http://BBB.com:20002/eureka/,http://CCC.com:20003/eureka/
  instance:
    instance-id: activemq-server-${server.port}
    prefer-ip-address: true

management:
  server:
    port: 1099
  endpoints:
    web:
      exposure:
        include: "*"