server:
  port: 1098

eureka:
  client:
    register-with-eureka: false #本微服务为服务消费者，不需要将自己注册到服务注册中心
    fetch-registry: true  #本微服务为服务消费者，需要到服务注册中心搜索服务
    service-url:
#      defaultZone: http://AAA.com:20001/eureka/,http://BBB.com:20002/eureka/,http://CCC.com:20003/eureka/
      defaultZone: http://127.0.0.1:9000/eureka/ #服务注册中心集群
  instance:
    instance-id: ribbom-manager

spring:
  application:
    name: org-rxam-ribbom-manager